@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  color: rgb(var(--foreground-rgb));
  z-index: 1;
  @apply text-lighter-gray bg-darkest-blue;
}

h2,
h3,
h4,
h5 {
  @apply font-heading;
}

h1 {
  @apply text-4xl font-body;
}

h2 {
  @apply text-xl;
}

p {
  font-family: var(--font-fixedsys-excelsior);
  @apply text-base xl:text-lg;
}

a {
  @apply font-heading;
}

.noise {
  background-image: url("/noise.svg");
  background-repeat: repeat;
  background-size: 750px;
  inset: 0;
  opacity: 0.075;
  position: absolute;
  z-index: -1;
  top: 0;
}

.home-square {
  @apply h-2 w-2;
}

.home-button:hover {
  animation: rotation 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.home-button {
  transform-origin: left;
  @apply bg-white;
}

@keyframes rotation {
  0% {
    transform-origin: center;
    transform: rotate(0deg);
    gap: 0rem;
  }
  50% {
    gap: 1rem;
  }
  100% {
    transform-origin: left;
    transform: rotate(360deg);
    gap: 0rem;
  }
}
