@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply text-lighter-gray;
}

h2,
h3,
h4,
h5 {
  @apply font-heading;
}

h1 {
  @apply text-4xl font-body;
}

h2 {
  @apply text-xl;
}

p {
  font-family: var(--font-fixedsys-excelsior);
  @apply text-base xl:text-lg;
}

a {
  @apply font-heading;
}
