@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  position: relative;
  z-index: 1;
  @apply bg-light-tan text-darkest-gray dark:text-lighter-gray dark:bg-darkest-blue;
}

h2,
h3,
h4,
h5 {
  @apply font-heading;
}

h1 {
  @apply text-4xl font-headers uppercase;
}

h2 {
  @apply text-xl;
}

p {
  @apply text-xl font-body xl:text-2xl;
}

.blog > h1 {
  font-weight: 700;
  @apply text-3xl md:text-4xl font-inter;
}

.blog > h2 {
  font-weight: 700;
  @apply text-xl md:text-2xl pb-4 pt-8 font-inter;
}

.postParagraph {
  @apply text-lg pb-4;
  font-family: var(--inter-font);
  font-weight: 300;
  line-height: 1.75;
}

.codeBlock {
  font-family: !important var(--font-inter);
}

a {
  @apply font-heading;
}

.noise {
  background-image: url("/noise.svg");
  background-repeat: repeat;
  background-size: 750px;
  inset: 0;
  opacity: 0.075;
  position: absolute;
  z-index: -1;
  top: 0;
}

.imageFix {
  position: relative !important;
  width: 12px !important;
  height: 12px !important;
}

.cycleText {
  animation: cycleColor 2s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-rule: both;
}

@keyframes cycleColor {
  0% {
    @apply text-accent-green;
  }
  50% {
    @apply text-accent-orange;
  }
  100% {
    @apply text-accent-green;
  }
}
